/***** FONT *****/
@font-face {
    font-family: 'Another_America';
    src: url('../fonts/Another_America.otf') format('truetype'),
         url('../fonts/Another_America.ttf') format('truetype');
}

/***** GENERAL *****/
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

footer {
    background: #000;
    color: #afafaf;
}

.reseaux-sociaux a {
    text-decoration: none;
    color: #fff;
    padding: 15px 5px 15px 5px;
}

.reseaux-sociaux a.fa-facebook-f:hover {
    color: #3B5998;
}

.reseaux-sociaux a.fa-instagram:hover {
    color: #C32AA3;
}

.reseaux-sociaux a.fa-soundcloud:hover {
    color: #FF3300;
}

.reseaux-sociaux a.fa-youtube:hover {
    color: #FF0000;
}

footer p {
    padding: 0 15px 15px 15px;
}

.copyright {
    padding: 0 15px 15px 15px;
}

.footer-link a {
    text-decoration: none;
    color: #afafaf;
}

.footer-link a:hover {
    color: #fff;
}

.background-black {
    background: #000;
    color: #fff;
}

.background-black hr {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 40px;
}

.background-white {
    background: #fff;
}

.background-white hr {
    background: #000;
    margin-top: 30px;
    margin-bottom: 40px;
}

.container-type {
    padding: 80px 0 110px 0;
}

.citation {
    font-style: italic;
    font-size: 13px;
}

.title-page {
    margin-top: 30px;
}

/***** MENU *****/
.navbar .navbar-brand {
    font-family: 'Another_America';
    font-size: 50px;
}

.navbar .navbar-collapse {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

#menu-scroll header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#menu-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/***** GALLERY *****/
.container-gallery {
    background-image: url(../img/le-maquis-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.container-wrap {
    background: rgba(0, 0, 0, 0.7);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
}

.text-gallery {
    vertical-align: middle;
    display: table-cell;
}

.text-gallery h1 {
    font-family: 'Another_America';
    font-size: 140px;
    color: #fff;
}

.text-gallery li {
    display: inline;
}

.footer-gallery {
    height: 50%;
    width: 100%;
    display: table;
}

.test {
    vertical-align: bottom;
    display: table-cell;
}

/***** CONCERTS *****/
.container-concert {
    color: #fff;
    width: 100%;
}

.container-concert table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.border-concert {
    border: rgba(175, 175, 175, 0.0) 1px solid;
    border-radius: 0.5em;
    width: auto;
    margin: 0 25px 0 25px;
    padding: 10px;
    background: rgba(175, 175, 175, 0.0);
}

.container-concert .h1-responsive {
    margin: 0 0 24px 0 !important;
}

.container-concert hr {
    background: #fff;
}

.one-concert a {
    text-decoration: none;
}

.one-concert button {
    color: rgb(135, 60, 255);
    border-color: rgb(135, 60, 255);
}

.one-concert button:hover {
    background-color: rgb(119, 35, 255);
    border-color: #fff;
}

.btn-concert {
    text-transform: uppercase;
    font-size: 13px;
}

.btn-concert i {
    margin-right: 10px;
    vertical-align:middle;
}

.btn-concert span {
    vertical-align:middle;
}

/***** ALBUMS *****/
.album-img {
    padding-top: 15px;
}

.album-img img {
    border: rgba(175, 175, 175, 0.2) 1px solid;
    border-radius: 0.5em;
    height: 210px;
    width: 210px;
}

.artiste-album {
    padding-top: 10px;
}

/***** SERVICES *****/
.service-item h3 {
    margin-top: 15px;
}

.service-img {
    width: 70px;
    height: 70px;
}

/***** ARTISTES *****/
.artiste-img {
    padding-top: 15px;
}

.container-artiste img {
    border: rgba(175, 175, 175, 0.2) 1px solid;
    border-radius: 0.5em;
    height: 210px;
    width: 210px;
}

/***** CONTACT *****/
.container-contact form {
    padding-bottom: 10px;
}

.contact-input input, .contact-input textarea {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.btn-contact {
    margin-top: 15px;
    background-color: rgb(135, 60, 255);
    border-color: rgb(135, 60, 255);
}

.btn-contact:hover {
    background-color: rgb(119, 35, 255);
    border-color: rgb(119, 35, 255);
}

.contact-img {
    width: 50px;
    height: 50px;
}

.validation-email {
    width: 60%;
    margin: auto;
}

/***** LOGIN *****/
.btn-login {
    background-color: rgb(135, 60, 255);
    border-color: rgb(135, 60, 255);
}

.btn-login:hover {
    background-color: rgb(119, 35, 255);
    border-color: rgb(119, 35, 255);
}

/***** MEDIA QUERIES *****/

@media only screen and (min-width : 321px) and (max-width : 736px) {
    .album-img img {
        height: 210px;
        width: 210px;
    }

    .container-artiste img {
        height: 210px;
        width: 210px;
    }
}

@media only screen and (max-width : 425px) {
    .clip-video iframe {
        height: 255px;
        margin: auto;
    }
}

@media only screen and (min-width : 426px) {
    .clip-video iframe {
        width: 560px;
        margin: auto;
    }
}