{% extends 'base.html.twig' %}

{% block title %}Nos Albums - Le Maquis Label{% endblock %}

{% block body %}
<h1>Albums</h1>

<div class="row gallery">
    {% for album in albums %}
        <div class="col-6 col-md-4 container-artiste">
            <a href={{ path('show_artiste', {'id': album.id}) }}><img src={{ album.img }} alt="Le Maquis artiste"></a>
            <p>{{ album.artiste[0] }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
