{% extends 'base.html.twig' %}

{% block title %}Nos Artistes - Le Maquis Label{% endblock %}

{% block body %}
<h1>Artistes</h1>

<div class="row gallery">
    {% for artiste in artistes %}
        <div class="col-6 col-md-4 container-artiste">
            <a href={{ path('show_artiste', {'id': artiste.id}) }}><img src={{ artiste.image }} alt="Le Maquis artiste"></a>
        </div>
    {% endfor %}
</div>


{% endblock %}