{% extends 'base.html.twig' %}

{% block title %}Nos Concerts - Le Maquis Label{% endblock %}

{% block body %}
<section class="container-concert">
    <h1 class="h1-responsive font-weight-bold text-center my-4">Nos concerts</h1>

    <div class="one-concert">
        <table>
        {% for concert in concerts %}
            <tr>
                <td><i class="far fa-calendar-alt fa-2x"></i> {{ concert.name }}</td>
                <td><i class="fas fa-microphone-alt fa-2x"></i> {{ concert.artiste[0] }}</td>
                <td><i class="fas fa-map-pin fa-2x"></i> {{ concert.town }}</td>
                <td><i class="far fa-calendar-check fa-2x"></i> Réservation</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</section>
{% endblock %}