{% extends 'base.html.twig' %}

{% block title %}Accueil - Le Maquis Label{% endblock %}

{% block body %}
<h1>Welcome sur Le Maquis</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qRC4Vk6kisY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus at accusantium in sunt dolores, assumenda amet impedit. Aperiam accusantium aut quo, tempora sequi dignissimos doloribus, laborum culpa laboriosam expedita a, exercitationem provident maiores minus ducimus doloremque tenetur illo commodi veritatis.</p>
<p>Unde molestiae nulla nesciunt, nobis error eligendi dolore? Accusantium error nulla harum, ratione porro eveniet nam, dolores eligendi alias, odio hic sunt inventore quod autem ducimus omnis velit tempora eos cumque voluptates. Modi excepturi incidunt, totam aperiam reprehenderit eos reiciendis.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, dolore. In illum ipsam non nihil distinctio, explicabo voluptas sed, magni aut assumenda molestias, architecto velit minus accusamus tempore. Aspernatur illum at recusandae in quos reprehenderit iure quisquam quam alias enim.</p>
<p>Debitis obcaecati voluptate voluptates nisi libero optio et a id sequi ipsa porro, velit vero itaque laboriosam quaerat facilis vitae sunt amet? Maiores dolorum consectetur quibusdam quis tenetur dolorem quod dignissimos eum ullam, culpa atque beatae sit architecto doloribus iusto!</p>
<p>Magni, repudiandae! Nam ad velit ut, molestiae quaerat magnam? Deserunt maxime exercitationem hic omnis quidem architecto vitae sunt perspiciatis perferendis, in, aliquam magnam sed autem, commodi cupiditate nobis similique saepe ex harum id. Architecto eveniet sunt explicabo numquam sequi odit!</p>
<p>Distinctio, a esse. Aperiam obcaecati temporibus recusandae mollitia aliquam rerum error neque officia nihil nam, ab laborum, ad itaque dolores necessitatibus cupiditate ducimus? Error numquam laborum vel, voluptatem libero neque qui veritatis distinctio, totam est amet repellat tempora dolor commodi!</p>
<p>Similique accusamus inventore officiis totam? Placeat, dolorum necessitatibus quo laborum ducimus iste in corrupti dolores unde reprehenderit rerum beatae nobis dicta vitae eaque minima perferendis nam fugiat animi asperiores. Magnam voluptatibus consequatur, in sint vero ducimus perspiciatis incidunt culpa ab!</p>
<p>Minus vel autem quisquam at, aliquid ea aspernatur omnis quas distinctio soluta natus incidunt, temporibus, ex nesciunt vero maiores iusto quasi perferendis necessitatibus fuga impedit cum? Aliquam eius facilis repudiandae odio, nesciunt pariatur deserunt assumenda dignissimos. Nemo laborum nisi quos.</p>
<p>Architecto autem eos qui inventore error accusantium veniam nesciunt dicta natus ut hic recusandae voluptatum nisi ratione porro quae voluptates, unde quibusdam officia tempore laboriosam sit animi? Quidem, maxime molestias accusantium illo nemo tempore quod animi? Sit harum incidunt optio.</p>
<p>Fuga eos nobis minus, nihil alias quos enim. Corporis id provident, dolor optio magnam labore mollitia odio, repellendus ad vero impedit natus fugit et delectus ipsam deserunt, doloribus nesciunt. Soluta fugiat, tenetur voluptas nobis accusamus voluptatem aut nemo aliquam quas?</p>
<p>Illum doloremque nihil iure quaerat molestiae repellat eum veritatis saepe corporis dolores, itaque totam neque voluptatibus sit? Recusandae laboriosam accusantium laborum enim quod nisi veniam error nam asperiores officiis, dignissimos eligendi necessitatibus nobis nesciunt quae minus dolorum voluptatibus quisquam facilis!</p>
<p>Eligendi sunt alias quasi, nulla earum fuga vitae quod. Corrupti perferendis, unde tempora, consequuntur qui blanditiis vel quibusdam, minus dicta sequi nesciunt ullam. Sint aperiam veritatis animi, commodi maxime quae quas fugit voluptatem architecto doloribus suscipit est dolorem debitis beatae!</p>
{% endblock %}