{% extends 'base.html.twig' %}

{% block body %}

{% include 'parts/menu.html.twig' %}

<div class="container title-page">
    <h1 class="text-center">Mentions Légales</h1>
</div>
<div class="container">
    <p class="text-center">En cours de rédaction</p>
</div>

{% endblock %}