{% extends 'base.html.twig' %}

{% block title %}Studio vidéos - Le Maquis Label{% endblock %}

{% block body %}
<h1>Studio vidéos</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/66hPP7OCwCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
