{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ artiste.name }}</h1>
    <img src={{ artiste.image }} alt="Yanuzi"></a>
    <p>{{ artiste.bio }}</p>
</div>
{% endblock %}